.container{
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 25px;
}
body{
    background: #ebebf2;
}
.label{
    width: 150px;
    font-weight: bold;
}

#note{
    margin: 10px 10px 10px 0;
    width: 34em;
}
button{
    width: 20em;
    margin: auto;
}
hr{
    height:0.5px;
    border-width:0;
    color:gray;
    background-color:gray
}