#text{
    background-image: linear-gradient(to bottom right, #c165dd, #268bff);
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);   
    background-color: #ffffff;
}

#image{
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    background-color: #ffffff;
}

body{
    background: url("https://vnreview.vn/image/20/89/59/2089591.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    background-image: linear-gradient(to right, #00f79c, #04f1f5); 
    color: black; 
    width: 13em; 
    margin: 0 7.2em 0 7.2em; 
    padding: 10px; 
    border-radius: 8px;
    border-color: #44fccb;
    font-weight: 500;
}

.form-control{
    margin: 5px 4em 0 4em; 
    border-radius: 8px;
    width: 20em;
    height: 2.7em;
}
.form-control:focus { z-index: 2; }

.row:nth-child(2){
    margin: auto;
}

h1{
    text-align: center; 
    font-size: xx-large;
    font-family: Brush Script Std;
}
#noti{
    font-size: 15px; 
    text-transform: initial;
    text-align: center;
    display: inline-block;
    margin-top: -25px;
    margin-bottom: 20px;
    font-weight: 400;
}
i{
    margin-right: 5px;
    font-size: large;
}
img{
    height: 40em;
}