#text{
    background-image: linear-gradient(to bottom right, #c165dd, #268bff);
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);   
    background-color: #ffffff;
}

#image{
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    background-color: #ffffff;
}

body{
    background: url("https://vnreview.vn/image/20/89/59/2089591.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

