#text{
    background-image: linear-gradient(to bottom right, #c165dd, #268bff);
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);   
    background-color: #ffffff;
}

#image{
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    background-color: #ffffff;
}

body{
    background: url("https://vnreview.vn/image/20/89/59/2089591.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#confirm{
    background-image: linear-gradient(to right, #00f79c, #04f1f5); 
    color: black;
    width: 13em; 
    margin: 1em 7.2em 0 7.2em; 
    padding: 9px; 
    border-radius: 8px;
    border-color: #44fccb;
    font-weight: 500;
}

.form-control{
    margin: 5px 2em 0 2em; 
    border-radius: 8px;
    width: 25em;
    height: 2.7em;
}
.form-control:focus { z-index: 2; }

h5{
    text-align: center; 
    font-family: Arial;
    margin-bottom: 40px;
    font-size: initial;
    font-weight: 600;
}

i{
    margin-right: 5px;
    font-size: large;
    color: black;
}
img{
    height: 40em;
}

#username{
    border-radius: 8px;
    border-color: none;
}

