nav{
    background-color: #ebebf2;
}
#cart{
    height: 36px; 
    padding: 0.5em 1em; 
    background-color: rgba(43, 189, 179, 0.7);
    display: inline-block; 
    border: none;
    text-height: text-size;
    margin: auto;
}
#search{
    color: rgb(43, 189, 179);
    border-color: rgb(43, 189, 179);
    margin-left: 0;
}
#searchText{
    margin-right: 0;
}
#linkHover:hover{
    color: rgb(43, 189, 179);
}
#linkHover{
    font-family: Arial;
}
#home{
    font-size: larger;
}
#noticeContent:hover{
    background-color: #f0f3f5;
}
#noticeContent{
    width: 100%;
    margin: auto;
}
#bell{
    color: black;
}

#bell:hover{
    color: rgb(43, 189, 179);
}
#dropdown{
    display: none;
    z-index: 1;
}

#sup:hover #dropdown{
    display: block;
}

#navbarDropdown:active{
    background-color: #ebebf2;
}