body{
    background: url("https://vnreview.vn/image/20/89/59/2089591.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#image{
    background-color: white;
}
#form{
    background-image: linear-gradient(to bottom right, #c165dd, #268bff);
}

button{
    background-image: linear-gradient(to right, #00f79c, #04f1f5); 
    color: black; 
    width: 5em; 
    margin: auto;
    margin-bottom: 10px;
    padding: 5px; 
    border-radius: 8px;
    border-color: none;
}
#link{
    display: block;
    background-image: linear-gradient(to right, #00f79c, #04f1f5);
    color: black;
    border-radius: 10px;
    border-color: #00f79c;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: initial;
}
#link:hover{
    border-color:#2b72bd;
    background-color: #2bbd9d;
    -webkit-box-shadow: 0 10px 30px 0 rgba(86, 245, 216,0.2);
}
#back{
    color: black;
    text-decoration: underline;
}
#profileIcon{
    margin: 0.5em 3.9em ; 
    font-size: 50px;
    font-weight: 300;
}
h5{
    text-align: center; 
    font-family: Arial;
    margin-bottom: 40px;
    font-size: initial;
    font-weight: 600;
    padding: 2px;
}
